# 系统文件
.DS_Store
Thumbs.db

# 编辑器临时文件
.vscode/
.idea/
*.swp
*.swo

# Node.js
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
package-lock.json

# 构建文件
dist/
build/
.next/
out/

# 环境变量
.env
.env.local
.env.development.local
.env.test.local
.env.production.local 